@{
    ViewBag.Title = "Home Page";
}
<form  method="post" enctype="multipart/form-data" >
    <div class="jumbotron">
        <h1>Upload File</h1>
        <p class="lead">Upload The File To The Cloud.</p>
        <p><input name="fileUpload" type="file" id="DataElementUpload" /></p>
        <p><input name="sub" type="submit" id="upload" value="Upload" /></p>
    </div>
</form>